
<h3>Mobile Name/ Model</h3>
{{#if error}} <span>{{error}}</span>{{/if}}
<form method="POST" action="/data/supply">
    <div class="form-group">
    <label>Supply Mobile Name/Model</label>
    <input type="string" name="mobileName" class="form-control" placeholder="Mobile Name/ Model">
  </div>
  <input type="submit" class="btn btn-primary" value="Supply">
</form>